<form action=""
  class="grid gap-x-6 gap-y-4">

  <div class="w-fit mx-auto" data-hs-file-upload='{
    "url": "/upload",
    "acceptedFiles": "image/*",
    "maxFiles": 1,
    "singleton": true
  }'>
    <template data-hs-file-upload-preview="">
      <div class="size-20">
        <img class="w-full object-contain rounded-full" data-dz-thumbnail="">
      </div>
    </template>

    <div class="flex flex-wrap items-center gap-3 sm:gap-5">
      <div class="group" data-hs-file-upload-previews="" data-hs-file-upload-pseudo-trigger="">
        <span class="group-has-[div]:hidden flex shrink-0 justify-center items-center size-20 border-2 border-dotted border-gray-300 text-gray-400 cursor-pointer rounded-full hover:bg-gray-50">
          <lucide-icon [name]="Image" class="size-7 shrink-0 stroke-[1.5]" />
        </span>
      </div>

      <div class="grow">
        <div class="flex items-center gap-x-2">
          <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-xs font-medium rounded-lg border border-transparent bg-primary text-white hover:bg-primary-dark focus:outline-hidden focus:bg-primary-dark disabled:opacity-50 disabled:pointer-events-none" data-hs-file-upload-trigger="">
            <lucide-icon [name]="Upload" class="size-4 shrink-0" />
            Subir logo
          </button>
          <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-xs font-medium rounded-lg border border-gray-300 bg-white text-gray-700 shadow-2xs hover:bg-gray-50 focus:outline-hidden focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" data-hs-file-upload-clear="">Borrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Name Company -->
  <div class="space-y-2">
    <label for="name" class="block text-sm font-medium">
      Nombre de la Empresa
      <span class="text-red-600">*</span>
    </label>
    <input
      id="name" name="name"
      formControlName="name"
      maxlength="100"
      type="text"
      placeholder="Ingrese el nombre"
      class="border rounded-lg border-gray-300 placeholder:text-gray-700 text-sm w-full py-3 px-5 hover:shadow focus:outline-none focus:ring-2 focus:ring-primary"
    >
    <!-- <div *ngIf="companyForm.get('name')?.touched && companyForm.get('name')?.invalid" class="text-red-600 text-xs">
      <div *ngIf="companyForm.get('name')?.errors?.['required']">El nombre es obligatorio.</div>
      <div *ngIf="companyForm.get('name')?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</div>
      <div *ngIf="companyForm.get('name')?.errors?.['maxlength']">El nombre no debe exceder los 100 caracteres.</div>
    </div> -->
  </div>

  <!-- Tag -->
  <div class="space-y-2">
    <label for="tag" class="block text-sm font-medium">
      Tag
      <span class="text-red-600">*</span>
    </label>
    <div class="relative">
      <input
        id="tag"
        name="tag"
        formControlName="tag"
        maxlength="100"
        type="text"
        placeholder="Ej: Tecnología o Marketing"
        class="border rounded-lg border-gray-300 placeholder:text-gray-700 text-sm w-full pl-12 pr-5 py-3 hover:shadow focus:outline-none focus:ring-2 focus:ring-primary"
      >
      <lucide-icon [name]="Tag" class="size-4 shrink-0 absolute left-2.5 top-1/2 -translate-y-1/2 text-gray-700" />
    </div>
    <!-- <div *ngIf="companyForm.get('tag')?.touched && companyForm.get('tag')?.invalid" class="text-red-600 text-xs">
      <div *ngIf="companyForm.get('tag')?.errors?.['required']">El tag es obligatorio.</div>
      <div *ngIf="companyForm.get('tag')?.errors?.['minlength']">El tag debe tener al menos 3 caracteres.</div>
      <div *ngIf="companyForm.get('tag')?.errors?.['maxlength']">El tag no debe exceder los 20 caracteres.</div>
    </div> -->
  </div>

  <!-- Description -->
  <div class="space-y-2">
    <label for="description" class="block text-sm font-medium">
      Descripción
    </label>
    <textarea
      id="description"
      name="description"
      formControlName="description"
      maxlength="255"
      type="text"
      placeholder="Ingrese una descripción de la empresa"
      class="border rounded-lg border-gray-300 placeholder:text-gray-700 text-sm w-full py-3 px-5 hover:shadow focus:outline-none focus:ring-2 focus:ring-primary resize-none h-24"
    ></textarea>
  </div>

  <!-- Submit Button -->
  <button type="button"
    class="btn-primary sm:text-primary-sm w-full rounded-lg! !font-medium max-sm:!py-3 !py-2.5">
    Crear Empresa
  </button>
</form>
