@import "tailwindcss";
@import "../node_modules/preline/variants.css";

@source "../node_modules/preline/dist/*.js";

@plugin "@tailwindcss/forms";

@font-face {
  font-family: 'Eloquia Display';
  src: url('/fonts/Typekiln - EloquiaDisplay-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Eloquia Text';
  src: url('/fonts/Typekiln - EloquiaText-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@custom-variant hover (&:hover);


@theme {

  --font-primary: "Inter", sans-serif;

  --color-primary: #51965c;
  --color-primary-light: #75b37f;
  --color-primary-dark: #396f42;

  --font-eloquia-display: "Eloquia Display", sans-serif;
  --font-eloquia-text: "Eloquia Text", sans-serif;

}

* {
  @apply [&::-webkit-scrollbar]:w-2
  [&::-webkit-scrollbar]:h-2
  [&::-webkit-scrollbar-track]:rounded-full
  [&::-webkit-scrollbar-track]:bg-gray-100
  [&::-webkit-scrollbar-thumb]:rounded-full
  [&::-webkit-scrollbar-thumb]:bg-gray-300;
}

:root {
  @apply font-primary;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    max-height: 500px;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    max-height: 500px;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    max-height: 0;
    transform: translateY(-10px);
  }
}

.animate-slideDown {
  animation: slideDown 0.30s ease-out forwards;
}

.animate-slideUp {
  animation: slideUp 0.30s ease-in forwards;
}

.btn-primary {
  @apply text-nowrap font-semibold rounded-full px-3 py-2 text-white bg-primary hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary-dark;
}

.btn-secondary {
  @apply text-nowrap bg-white text-primary font-semibold rounded-full px-3 py-2 border border-primary hover:bg-gray-50 focus:outline-none focus:ring focus:ring-primary-dark;
}


.btn-primary-sm {
  @apply text-nowrap text-sm font-semibold rounded-full px-3 py-2 text-white bg-primary hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary-dark;
}

.btn-secondary-sm {
  @apply text-nowrap bg-white text-primary text-sm font-semibold rounded-full px-3 py-2 border border-primary hover:bg-gray-50 focus:outline-none focus:ring focus:ring-primary-dark;
}

