
<section class="flex flex-col gap-y-10">

  <!-- Great -->
  <div>
    <h2 class="text-lg lg:text-xl font-semibold">Buenos días, Daniel Sánchez</h2>
    <p class="text-sm line-clamp-1 text-gray-800">Gestiona tu cuenta, ver tu actividad y acceder a funciones personalizadas.</p>
  </div>

  <div class="flex items-center gap-x-2">
    <button
      class=""
      (click)="activeTab = 'companies'"
      ngClass="{{ activeTab === 'companies' ? 'btn-primary-sm rounded-lg!' : 'btn-secondary-sm rounded-lg!' }}">
      Empresas
    </button>
    <button
      class=""
      (click)="activeTab = 'invitations'"
      ngClass="{{ activeTab === 'invitations' ? 'btn-primary-sm rounded-lg!' : 'btn-secondary-sm rounded-lg!' }}">
      Invitaciones
    </button>
  </div>

  <!-- Companies -->
  <component-user-dashboard-companies *ngIf="activeTab === 'companies'" />

  <!-- Invitations -->
  <component-user-dashboard-invitations *ngIf="activeTab === 'invitations'" />

</section>


